<app-navbar [title]="'Dashbord'"></app-navbar>
<div class="container-fluid mt-4 ">
  <div class="row">
    <div class="col-sm-6 col-md-4 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Enseignants</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{nombreEnseignant}}</div>
            </div>
            <div class="col-auto">
              <i class="fa-solid fa-2x fa-user"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Matières</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{nombreMatiere}}</div>
            </div>
            <div class="col-auto">
              <i class="fa-solid fa-2x fa-book"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Classes</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{nombreClasse}}</div>
            </div>
            <div class="col-auto">
              <i class="fa-solid fa-2x fa-school"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Années scolaires</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{nombreAnneeScolaire}}</div>
            </div>
            <div class="col-auto">
              <i class="fa-solid fa-2x fa-hourglass-start"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Emplois du temps</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
