<nav id="sidebar">
  <div class="img bg-wrap text-center py-4" style="background-image: url(assets/images/bg_1.jpg);">
    <div class="user-logo">
      <div class="img" style="background-image: url(assets/images/logo.jpg);"></div>
      <h3>AWESSO Gnimdou</h3>
    </div>
  </div>
  <ul class="list-unstyled components mb-5 bg-primary">
    <li class="">
      <a routerLink="dashbord" class="text-white"><span class="fa fa-home mr-3"></span>Dashboard</a>
    </li>
    <li>
      <a routerLink="listeenseignant"  class="text-white"><span  class="fa fa-user-circle mr-4"></span>Enseignants</a>
    </li>
    <li>
      <a routerLink="listematieres"  class="text-white"><span class="fa fa-book mr-4"></span>Matières</a>
    </li>
    <li>
      <a routerLink="listeclasse" class="text-white"><span class="fa fa-university mr-4"></span>Classes</a>
    </li>
    <li>
      <a routerLink="listecours" class="text-white"><span class="fa  fa-book mr-4"></span>Cours</a>
    </li>
    <li>
      <a routerLink="listeannée" class="text-white"><i class="fa-solid fa-hourglass-start mr-4"></i>Années scolaires</a>
    </li>
    <li>
      <a routerLink="listeemplois" class="text-white"><span class="fa fa-calendar mr-4"></span>Emplois du temps</a>
    </li>
    <li>
      <a href="#" class="text-white"><span class=" fa fa-sign-out mr-3"></span>Déconnexion</a>
    </li>
  </ul>
  <div class="footer">
    <p>
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
    </p>
  </div>

</nav>
