<app-navbar [title]="'Cours'"></app-navbar>
<div class="mt-4">
  <a class="btn btn-success text-white" (click)="ajouterCours()">Ajouter +</a>
  <h3 class="text-center m-2">Liste des Cours</h3>
</div>
<table class="table table-striped mt-4">
  <thead>
      <tr>

        <th scope="col">Matière</th>
        <th scope="col">Enseignant</th>
        <th scope="col">Classe</th>
        <th scope="col">Année Scolaire</th>
        <th scope="col">Actions</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cours of listeCours">
      <td>{{cours.matiere.intitule}}</td>
      <td>{{cours.enseignant.nom + " " + cours.enseignant.prenom}}</td>
      <td>{{cours.classe.intitule}}</td>
      <td>{{cours.anneeScolaire.datededebut + " à " + cours.anneeScolaire.datedefin}}</td>
      <td>
        <a class="btn btn-warning mx-2" (click)="modifierCours(cours.id.toString())">
          <i class="fa-solid fa-pen-to-square"></i>
        </a>
        <a class="btn btn-danger" (click)="supprimerCours(cours)">
          <i class="fa-solid fa-trash"></i>
        </a>
      </td>
  </tr>
  </tbody>
</table>
